<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../assets/img/apple-icon.png"
    />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <title>Material Dashboard 2 by Creative Tim</title>
    <!--     Fonts and icons     -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700"
    />
    <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script
      src="https://kit.fontawesome.com/42d5adcbca.js"
      crossorigin="anonymous"
    ></script>
    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link
      id="pagestyle"
      href="../assets/css/material-dashboard.css?v=3.0.4"
      rel="stylesheet"
    />
  </head>

  <body class="g-sidenav-show bg-gray-200">
    <%- include('partials/asid.ejs') %>
    <div class="main-content position-relative max-height-vh-100 h-100">
      <!-- Navbar -->
      <nav
        class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
        id="navbarBlur"
        data-scroll="true"
      >
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
            <ol
              class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5"
            >
              <li class="breadcrumb-item text-sm">
                <a class="opacity-5 text-dark" href="javascript:;">Pages</a>
              </li>
              <li
                class="breadcrumb-item text-sm text-dark active"
                aria-current="page"
              >
                Payment
              </li>
            </ol>
            <h6 class="font-weight-bolder mb-0">Payment Settings</h6>
          </nav>
          <div
            class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4"
            id="navbar"
          >
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <!-- <div class="input-group input-group-outline">
                <label class="form-label">Type here...</label>
                <input type="text" class="form-control" />
              </div> -->
            </div>
            <ul class="navbar-nav justify-content-end">
              <li class="nav-item d-flex align-items-center">
                <a
                  href="../pages/sign-in.html"
                  class="nav-link text-body font-weight-bold px-0"
                >
                  <i class="fa fa-user me-sm-1"></i>
                  <span class="d-sm-inline d-none">Logout</span>
                </a>
              </li>
              <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                <a
                  href="javascript:;"
                  class="nav-link text-body p-0"
                  id="iconNavbarSidenav"
                >
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </a>
              </li>
              <li class="nav-item px-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0">
                  <i
                    class="fa fa-cog fixed-plugin-button-nav cursor-pointer"
                  ></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="container-fluid py-4">
        <% if(err) {%>
        <div
          class="alert alert-primary alert-dismissible text-white"
          role="alert"
        >
          <span class="text-sm"><%= err %></span>
          <button
            type="button"
            class="btn-close text-lg py-3 opacity-10"
            data-bs-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% }%>
        <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div
                class="card-header p-0 position-relative mt-n4 mx-3 z-index-2"
              >
                <div
                  class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
                >
                  <h6 class="text-white text-capitalize ps-3">
                    Payment Gateway Setup
                  </h6>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div></div>
                            <div
                              class="d-flex flex-column justify-content-center"
                            >
                              <h6 class="mb-0 text-sm">Store ID</h6>
                              <p class="text-xs text-secondary mb-0">
                                <%= data.ID %>
                              </p>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <form action="/update/storeid" method="post">
                          <td class="align-middle text-center">
                            <div class="input-group input-group-outline">
                              <label class="form-label">update id</label>
                              <input
                                type="text"
                                class="form-control"
                                name="id"
                                required
                              />
                            </div>
                          </td>
                          <td class="align-middle">
                            <button
                              type="submit"
                              class="btn btn-outline-primary btn-sm mb-0 me-3"
                              data-toggle="tooltip"
                              data-original-title="Edit user"
                            >
                              Update
                            </button>
                          </td>
                        </form>
                        <td class="align-middle text-center text-sm"></td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div></div>
                            <div
                              class="d-flex flex-column justify-content-center"
                            >
                              <h6 class="mb-0 text-sm">Store password</h6>
                              <p class="text-xs text-secondary mb-0">
                                <%= data.pass %>
                              </p>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <form action="/update/storepass" method="post">
                          <td class="align-middle text-center">
                            <div class="input-group input-group-outline">
                              <label class="form-label">update password</label>
                              <input
                                type="text"
                                class="form-control"
                                name="pass"
                                required
                              />
                            </div>
                          </td>
                          <td class="align-middle">
                            <button
                              type="submit"
                              class="btn btn-outline-primary btn-sm mb-0 me-3"
                              data-toggle="tooltip"
                              data-original-title="Edit user"
                            >
                              Update
                            </button>
                          </td>
                        </form>
                        <td class="align-middle text-center text-sm"></td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div></div>
                            <div
                              class="d-flex flex-column justify-content-center"
                            >
                              <h6 class="mb-0 text-sm">Amount</h6>
                              <p class="text-xs text-secondary mb-0">
                                <%= data.amount %> TK
                              </p>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <form action="/update/payamount" method="post">
                          <td class="align-middle text-center">
                            <div class="input-group input-group-outline">
                              <label class="form-label"
                                >update amount(BDT)</label
                              >
                              <input
                                type="number"
                                class="form-control"
                                name="amount"
                                required
                              />
                            </div>
                          </td>
                          <td class="align-middle">
                            <button
                              type="submit"
                              class="btn btn-outline-primary btn-sm mb-0 me-3"
                              data-toggle="tooltip"
                              data-original-title="Edit user"
                            >
                              Update
                            </button>
                          </td>
                        </form>
                        <td class="align-middle text-center text-sm"></td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div></div>
                            <div
                              class="d-flex flex-column justify-content-center"
                            >
                              <h6 class="mb-0 text-sm">configur</h6>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">MODE</p>
                          <p class="text-xs text-secondary mb-0">
                            <%= data.live?"LIVE":"sandbox" %>
                          </p>
                        </td>
                        <td>
                          <a
                            href="/upldate/live"
                            class="badge badge-sm bg-gradient-success"
                            data-toggle="tooltip"
                            data-original-title="Edit user"
                          >
                            Update
                          </a>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">STATUS</p>
                          <p class="text-xs text-secondary mb-0">
                            <%= data.status? "Active":"Deactive" %>
                          </p>
                        </td>
                        <td>
                          <a
                            href="/upldate/status"
                            class="badge badge-sm bg-gradient-success"
                            data-toggle="tooltip"
                            data-original-title="Edit user"
                          >
                            Update
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div
                class="card-header p-0 position-relative mt-n4 mx-3 z-index-2"
              >
                <div
                  class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
                >
                  <h6 class="text-white text-capitalize ps-3">
                    SMS Gateway Setup
                  </h6>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div></div>
                            <div
                              class="d-flex flex-column justify-content-center"
                            >
                              <h6 class="mb-0 text-sm">API KEY</h6>
                              <p class="text-xs text-secondary mb-0">
                                <%= data.sms_api%>
                              </p>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <form action="/update/smsapi" method="post">
                          <td class="align-middle text-center">
                            <div class="input-group input-group-outline">
                              <label class="form-label">update api</label>
                              <input
                                type="text"
                                class="form-control"
                                name="sms_api"
                                required
                              />
                            </div>
                          </td>
                          <td class="align-middle">
                            <button
                              type="submit"
                              class="btn btn-outline-primary btn-sm mb-0 me-3"
                              data-toggle="tooltip"
                              data-original-title="Edit user"
                            >
                              Update
                            </button>
                          </td>
                        </form>
                        <td class="align-middle text-center text-sm"></td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div></div>
                            <div
                              class="d-flex flex-column justify-content-center"
                            >
                              <h6 class="mb-0 text-sm">Approved Sender ID</h6>
                              <p class="text-xs text-secondary mb-0">
                                <%= data.sms_id %>
                              </p>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <form action="/update/smsid" method="post">
                          <td class="align-middle text-center">
                            <div class="input-group input-group-outline">
                              <label class="form-label">Update Sender ID</label>
                              <input
                                type="text"
                                class="form-control"
                                name="sms_id"
                                required
                              />
                            </div>
                          </td>
                          <td class="align-middle">
                            <button
                              type="submit"
                              class="btn btn-outline-primary btn-sm mb-0 me-3"
                              data-toggle="tooltip"
                              data-original-title="Edit user"
                            >
                              Update
                            </button>
                          </td>
                        </form>
                        <td class="align-middle text-center text-sm"></td>
                      </tr>

                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div></div>
                            <div
                              class="d-flex flex-column justify-content-center"
                            >
                              <h6 class="mb-0 text-sm">configur</h6>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">STATUS</p>
                          <p class="text-xs text-secondary mb-0">
                            <%= data.sms_status? "Active" : "Deactive" %>
                          </p>
                        </td>
                        <td>
                          <a
                            href="/upldate/smsstatus"
                            class="badge badge-sm bg-gradient-success"
                            data-toggle="tooltip"
                            data-original-title="Edit user"
                          >
                            Update
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("partials/set.ejs") %>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
      var win = navigator.platform.indexOf("Win") > -1;
      if (win && document.querySelector("#sidenav-scrollbar")) {
        var options = {
          damping: "0.5",
        };
        Scrollbar.init(document.querySelector("#sidenav-scrollbar"), options);
      }
      const act = (document.querySelector(
        ".pay"
      ).classList += `active bg-gradient-primary`);
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/material-dashboard.min.js?v=3.0.4"></script>
  </body>
</html>
