<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font awesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/fontawesome.min.js"
      integrity="sha512-5qbIAL4qJ/FSsWfIq5Pd0qbqoZpk5NcUVeAAREV2Li4EKzyJDEGlADHhHOSSCw0tHP7z3Q4hNHJXa81P92borQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- font awesome -->
    <title>update</title>
    <link rel="stylesheet" href="/style/user.css" />
  </head>
  <body class="update">
    <nav>
      <ol>
        <li>
          <a href="/userlogout">Logout</a>
        </li>
      </ol>
    </nav>
    <div class="box">
      <form action="/updateuser" method="post">
        <div class="form">
          <div class="udes">
            <div class="img">
              <img src="/upload/userimg/<%= user.photo %>" alt="" />
            </div>
            <div class="name">
              <input type="text" name="name" value="<%= user.name%>" />

              <h3>
                <span>Phone:</span>
                <%= user.phone %>
              </h3>
              <h3>
                <span>Blood Group:</span>
                <select name="BG" value="<%= user.BG%>">
                  <option value="">chouse</option>
                  <option value="A+">A+</option>
                  <option value="A-">A-</option>
                  <option value="AB+">AB+</option>
                  <option value="AB-">AB-</option>
                  <option value="B+">B+</option>
                  <option value="B-">B-</option>
                  <option value="O+">O+</option>
                  <option value="O-">O-</option>
                </select>
              </h3>
            </div>
          </div>
          <div class="act">
            <span class="reg">RegNum: <%= user.regNo %></span>
            <div class="tab">
              <table>
                <tr>
                  <td>gender</td>
                  <td>
                    :
                    <select name="address" value="<%= user.address %>">
                      <option value="<%= user.address %>">
                        <%= user.address %>
                      </option>
                      <option value="M">male</option>
                      <option value="F">female</option>
                      <option value="O">Other</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>T-shirt</td>
                  <td>
                    :
                    <select name="Tshirt" value="<%= user.dress%>">
                      <option value="<%= user.dress%>"><%= user.dress%></option>
                      <option value="XXL">XXL</option>
                      <option value="XL">XL</option>
                      <option value="X">X</option>
                      <option value="M">M</option>
                      <option value="S">S</option>
                      <option value="XS">XS</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Registration Type</td>
                  <td>
                    :
                    <select name="regfor" value="<%= user.regfor %>">
                      <option value="<%= user.regfor %>">
                        <%= user.regfor %>
                      </option>
                      <option value="Self">Self</option>
                      <option value="for Friends">for Friends</option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
            <div class="pay">
              <% if(user.Payment.status){%>
              <div style="background: #83ff3b" class="b">
                <h1><span>Paymen Status</span> :Paid</h1>
              </div>
              <% }else if(user.Payment.name === "cash"){%>
              <div style="background: #3bf2ff" class="b">
                <h1><span>Paymen Status</span> :Pending</h1>
              </div>
              <%}else{%>
              <div style="background: #be0000" class="b">
                <h1><span>Paymen Status</span> :UnPaid</h1>
              </div>
              <% }%>
            </div>
            <div class="btn">
              <div class="b">
                <button type="submit">update</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
