<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font awesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/fontawesome.min.js"
      integrity="sha512-5qbIAL4qJ/FSsWfIq5Pd0qbqoZpk5NcUVeAAREV2Li4EKzyJDEGlADHhHOSSCw0tHP7z3Q4hNHJXa81P92borQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- font awesome -->
    <title><%= user.name%></title>
    <link rel="stylesheet" href="/style/user.css" />
  </head>
  <body>
    <nav>
      <ol>
        <li>
          <a href="/userlogout">Logout</a>
        </li>
      </ol>
    </nav>
    <div class="box">
      <div class="updatecon">
        <a href="/update-user"><i class="fas fa-edit"></i></a>
      </div>
      <div class="form">
        <div class="udes">
          <div class="img">
            <img src="/upload/userimg/<%= user.photo %>" alt="" />
          </div>
          <div class="name">
            <h1><%= user.name%></h1>
            <h3><span>Phone:</span> <%= user.phone %></h3>
            <h3><span>Blood Group:</span> <%= user.BG%></h3>
          </div>
        </div>
        <div class="act">
          <span class="reg">RegNum: <%= user.regNo %></span>
          <div class="tab">
            <table>
              <tr>
                <td>gender</td>
                <td>: <%= user.address%></td>
              </tr>
              <tr>
                <td>T-shirt</td>
                <td>: <%= user.dress%></td>
              </tr>
              <tr>
                <td>Registration Type</td>
                <td>: <%= user.regfor %></td>
              </tr>
            </table>
          </div>
          <div class="pay">
            <% if(user.Payment.status){%>
            <div style="background: #83ff3b" class="b">
              <h1><span>Paymen Status</span> :Paid</h1>
            </div>
            <% }else if(user.Payment.name === "cash"){%>
            <div style="background: #3bf2ff" class="b">
              <h1><span>Paymen Status</span> :Painding</h1>
            </div>
            <%}else{%>
            <div style="background: #be0000" class="b">
              <h1><span>Paymen Status</span> :UnPaid</h1>
            </div>
            <% }%>
          </div>
          <div class="btn">
            <div class="b">
              <% if(user.Payment.status){%>
              <a href="/card/<%= user.regNo %>">download card</a>
              <% }else if(user.Payment.name === "cash"){%>
              <a href="/card/<%= user.regNo %>">Pay Online</a>
              <%}else{%>
              <a href="/card/<%= user.regNo %>">Pay Oline</a>
              <% }%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
